@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #E6EFF6;
  height: 100vh;
  padding: 72px 32px 62px 32px;
}

.main-box {
  max-width: 311px;
  margin: 0 auto;
  

}

.community {
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.community h2 {
  color: #2AB3B1;
  font-size: 1.250rem;
  margin-bottom: 24px;
  font-weight: 700;
}

.moneyback {
  font-size: 0.94rem;
  color: #C0DF33;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 24px;
}

.access {
  color: #9AA7BE;
  font-size: 0.860rem;
  line-height: 26px;
}


.subscription {
  background-color: #2BB3B1;
}

.subscription h2 {
  color: #FFFFFF;
  padding-bottom: 1em;
}


.subscription span {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1rem;
  
}


.price-box {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 4px;
}

.price {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 700;
}

.full-access {
  color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 1.65em;
}

.sign-btn {
  background-color: #C0DF33;
  border: none;
  border-radius: 5px;  
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1rem;
  height: 3em;
  width: 16em;
}


.whyus {
  background-color: #4ABEBD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.whyus h2 {
  color: #FFFFFF;
  padding-bottom: 1.2em;
}

.whyus-text {
  font-size: 0.9rem;
  color: #FFFFFF;
  opacity: 0.75;
  padding-right: 3.4em;
  letter-spacing: -0.17px;
}

.box {
  padding: 1.5em 1.5em 2em 1.5em;
  
}

.title {
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {

body {
  display: flex;
  align-items: center;
}

.main-box {
  height: 475px;
  max-width: 635px;
  display: flex;
  flex-wrap: wrap;
}

.subscription, .whyus {
  flex-basis: 50%;
}


}

