@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
	list-style: none;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #E6EFF6;
  height: 100vh;
  padding: 72px 32px 62px 32px;
}

.main-box {
  max-width: 311px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.community {
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.community h1 {
  color: #2AB3B1;
  font-size: 1.250rem;
  margin: 0.2em 0 1.2em 0;
  font-weight: 700;
}

.moneyback {
  font-size: 0.94rem;
  color: #C0DF33;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 1.064em;
}

.access {
  color: #9AA7BE;
  font-size: 0.875rem;
  line-height: 1.85;
  margin-bottom: 0.5715em;
}


.subscription {
  background-color: #2BB3B1;
}

.subscription h2 {
  color: #FFFFFF;
  margin-bottom: 1em;
}


.subscription span {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1rem;
}


.price-box {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 4px;
}

.price {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 11px;
}

.full-access {
  color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 1.65em;
}

.sign-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #C0DF33;
  border: none;
  border-radius: 5px;  
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1rem;
  width: 16.5em;
  padding: 0.94em 0;

}


.whyus {
  background-color: #4ABEBD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.whyus h2 {
  color: #FFFFFF;
  margin-bottom: 1em;
}

.whyus-text {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.75;
  letter-spacing: -0.17;
  opacity: 0.7;
}

.box {
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.title {
  font-size: 1.125rem;
}

@media only screen and (min-width: 1000px) {

body {
  display: flex;
  align-items: center;
}



.main-box {
  max-width: 635px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.box {
  padding: 2.5em 2.5em 2.5em 2.5em;
}

.community {
  grid-area: 1 / 1 / 2 / 3
}

.community h1 {
  font-size: 1.5em;
}

.sign-btn {
  width: 15em;
}

}

